
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body{
   margin: 0;
}

.section{
    max-width:1440px;
    height: auto;
    margin: auto;
}
/* Header Section Start*/
.Header-Container{
    max-width: 1140px;
    height: 82px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.header-logo{
    max-width: 135px;
    height: 82px;
}
.header-navbar {
    max-width: 415px;
    height:65px;
    margin-top: 32px;
}
.header-navbar li{
    display: inline;
    list-style: none;
    margin-left: 30px;
}
.Nav-iteams{
    text-decoration: none;
    display: inline;
    list-style: none;
    font-family: "inter";
    font-size: 1rem;
    font-weight: small;
    color:rgba(137, 135, 161, 1);
}
.item-bold{
    font-weight: Bold;
    font-family: "inter";
    font-size: 1rem;
    text-decoration: none;
    color: rgba(37, 36, 50, 1);
}
.item-color{
    color: rgba(37, 36, 50, 1);
    font-weight: small;
    font-family: "inter";
    font-size: 1rem;
    text-decoration: none;
}
@media screen and (max-width: 576px) {
    .Header-Container {
    width: 420px;
    height: auto;
  }
  .header-navbar {
    align-items: center;
    margin-top: 35px;
  }
 .header-navbar li:nth-child(-n+3){
    display:none;
 }
}
/* Header Section End*/


/* Flower Section Start*/
.Flowers-Container{
    max-width:1140px;
    height:461px;
    margin: auto;
    display: flex;
}
.Flowers-text{
    max-width:570px;
    height:299px;
    margin-top:155px ;
}
.Flowers-text h1{
    font-family: "Noto Serif";
    font-size: 4.0625em;
    font-weight: bold;
    margin: 0;
}
.Flowers-text-color{
    color: rgba(233, 90, 8, 1);
}
.Flowers-text p{
    font-family: "inter";
    font-size: 1.50em;
    font-weight: regular;
    color: rgba(0, 0, 0, 0.5);
}
.Flowers-photo{
    max-width:570px;
    height:355px;
    margin-top:106px ;
}
@media screen and (max-width: 576px) {
  .Flowers-Container {  
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
    padding: 0 10px;
  }
  .Flowers-text {
    margin-top: 30px;
  }
  .Flowers-photo {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }    
}
/* Flower Section End*/

/* Plants Section Start*/
.Plants-Container{
    max-width:1140px;
    height:1187px;
    margin: auto;
    margin-top: 120px;
}
.plants-Header{
    max-width:1140px;
    height:138px;
}
.plants-Header h3{
    text-align: center;
     font-family: "Noto Serif";
    font-size: 3.125rem;
    font-weight: bold;
    margin: 0;
}
.plants-Header p{
     max-width:888px;
    height:54px;
     font-family: "inter";
    font-size: 1.50em;
    font-weight: regular;
    color: rgba(0, 0, 0, 0.5);
    margin: auto;
    text-align: center;
}
.cards-container{
    max-width:1140px;
    height:auto;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 20px;
    margin-top: 50px;
}
.card{
    max-width:270px;
    height:485px;
}
.card-img {
    max-width:270px;
    height:322px;
    margin:auto;
}
.card-text{
    max-width:270px;
    height:132px;
}
.card-text p {
   font-family: "inter";
    font-size: 1.50em;
    font-weight: medium;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0;
    margin-top: 19.5px;
    margin-bottom: 10px;
}
.card-text h5 {
    font-family: "inter";
    font-size: 1.50em;
    font-weight: bold;
    color: rgba(17, 17, 17, 1);
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;

}
.card-btn{
    width:270px;
    height:50px;
    background: rgba(233, 90, 8, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    margin: auto;
}
.card-btn a{
   text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
@media screen and (max-width: 576px) {
  .cards-container {
    grid-template-columns: repeat(2,1fr);
    padding: 0 10px;
  }
  .card {
    width: 100%;
  }
}
/* Plants Section End*/


/* Lover Section Start*/
.Lover-Section{
    margin-top: 200px;
}
.Lover-Container{
    margin-top: 200px;
    max-width:1140px;
    height:597px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.Lover-imgBadge{
    width:540px;
    height:597px;
    background-image:url(assets/flower-store.png) ;
    background-size: cover;
    background-position: center;
}
.Lover-badge{
    width:280px;
    height:280px;
    margin-top: -130px;
    margin-left: 360px;
    /*box-shadow: -4px 10px 4px rgba(0, 0, 0, 0.25);*/
}
.Lover-text{
     width:540px;
    height:521px;
     margin:38px 0px;
}
.Lover-text h3{
    font-family: "Noto Serif";
    font-size: 3.125rem;
    font-weight: bold;
    margin: 0;
}
.loverul{
    font-family: "inter";
    font-size: 1.40em;
    font-weight: regular;
    color:rgba(0, 0, 0, 0.5);
}
.loverul li{
    margin-bottom: 20px;
}
@media screen and (max-width: 576px) {
  .Lover-Container {
    margin-top: 1250px;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0 10px;
  }
  .Lover-imgBadge {
    width: 100%;
    height: 300px;
    background-size: cover;
  }
  .Lover-badge {
   display: none;
  }
  .Lover-text {
    width: 100%;
  }
  .Lover-text h3{
    font-family: "Noto Serif";
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0;
    margin-left: 10px; }
}
/* Lover Section End*/


/* Deals Section Start*/
.Deals-container{
    margin: auto;
     max-width:1440px;
    height:682px;
    margin-top: 133px;
}
.Deals-text{
     max-width:1140px;
    height:138px;
    margin: auto;
    margin-bottom: 120px;
}
.Deals-text h3{
    text-align: center;
    font-family: "Noto Serif";
    font-size: 3.125rem;
    font-weight: bold;
    margin: 0;
}
.Deals-text p{
    max-width:888px;
    height:54px;
    font-family: "inter";
    font-size: 1.50em;
    font-weight: regular;
    color: rgba(0, 0, 0, 0.5);
    margin: auto;
    text-align: center;
}
.Deals-Photos{
    border-radius: 14px;
    border-radius: 14px;
    max-width:1140px;
    height:424px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.Deals-Photo-1{
    border-radius: 14px;
    width:367px;
    height:201px;
    background-image: url(assets/deal-bloom.png);
    margin-top: 0px;
    position: relative;
}
.offer-text{
    border-radius: 14px;
    width:367px;
    height:201px;
    text-align: center;
    margin: auto;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.4);
}
.offer-text h6{
    text-align: center;
    font-family: "Noto Serif";
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    margin: 0;
    margin-top: 75px;
}
.offer-text a{
    margin-top: 10px;
    margin: auto;
    text-align: center;
    font-family: "inter";
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    color: white; 
    text-decoration: underline;
    text-underline-offset: 3px;
}
.Deals-Photo-12{
    width:367px;
    height:423px;
    margin: 0px;
}
.Deals-Photo-2{
    border-radius: 14px;
    width:367px;
    height:198px;
    background-image: url(assets/deal-ana.png);
    background-repeat: no-repeat;
    margin-top: 25px;
}
.offer-text-2{
    border-radius: 14px;
    width:367px;
    height:198px;
    text-align: center;
    margin: auto;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.4);
}
.Deals-Photo-3{
    border-radius: 14px;
    width:753px;
    height:424px;
    background-image: url(assets/deal-zabo.png);
}
.offer-text-3{
    border-radius: 14px;
    width:753px;
    height:424px;
    text-align: center;
    margin: auto;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.4);
}
.offer-text-3 h6{
    text-align: center;
    font-family: "Noto Serif";
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0;
    margin-top: 175px;  
}
.offer-text-3 a{
    margin-top: 10px;
    margin: auto;
    text-align: center;
    font-family: "inter";
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0;
    color: white; 
    padding-bottom: 5px;
    text-decoration: underline;
    text-underline-offset: 6px;
}
@media screen and (max-width: 576px) {
.Deals-container{
    height: auto;
    margin-bottom: 450px;
 }
.Deals-Photos{
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
.Deals-Photo-1,
.Deals-Photo-2,
.Deals-Photo-33,
.Deals-Photo-3,
.offer-text,
.offer-text-3{
    width:367px;
    height:192px;
    border-radius: 14px;
    margin: auto;
    margin-bottom: 20px;
}
.offer-text-3 h6{
    text-align: center;
    font-family: "Noto Serif";
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    margin: 0;
    margin-top: 75px;
}
.offer-text-3 a{
    margin-top: 10px;
    margin: auto;
    text-align: center;
    font-family: "inter";
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    color: white; 
    text-decoration: underline;
    text-underline-offset: 3px;
}
}
/* Deals Section End*/


/* Join Section Start*/
.Join-Section{
    margin:auto;
    margin-top: 120px;
    max-width:1440px;
    height:533px;
    background-image: url(assets/news-letter-bg.png);
    position: relative;
}
.joine-text{
    width:830px;
    height:140px;
    align-items: center;
    margin-top: 200px;
    margin-left: 305px;
    position: absolute;
}
.joine-text h3{
    text-align: center;
    font-family: "Noto Serif";
    font-size: 3.125rem;
    font-weight: bold;
    color: white;
    margin: 0;
    margin-bottom: 10px;
}
.input-button{
    width:830px;
    height:50px;
    display: flex;
    justify-content: center;
}
.input-button input{
    border: none;
    width:635px;
    height:50px;
    font-family: "inter";
    font-size: 1rem;
    font-weight: regular;
    color: rgba(0, 0, 0, 0.5) ;
    padding-left: 15px;
    margin: 0;
}
.join-buttton{
    width:170px;
    height:52px;
    background-color:  rgba(233, 90, 8, 1);
    border: none;
    color: white;
}
.join-buttton a{
    text-decoration: none;
    color: white;
    font-family: "inter";
    font-size: 1rem;
    font-weight: 600;
}
@media screen and (max-width: 576px) {
.Join-Section{
     width: 100%;
  }
  .joine-text {
    width: 90%;
    margin-left: 5%;
  }
  .joine-text h3{
    font-size: 2rem;
    margin-bottom: 20px;
   }
  .input-button {
    width: 100%;
  }
  .input-button input,
  .join-buttton {
    width: 100%;
  }
}
/* Join Section End*/


/* Footer Section Start*/
.footer-Container{
    max-width:1120px;
    height:248px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.footer-logo-text{
    max-width:360px;
    height:180px;
}
.footer-logo-text img{
    max-width:185px;
    height:82px;
}
.footer-logo-text p{
    max-width:360px;
    height:180px;
    font-family: "inter";
    font-size: 1.375rem;
    font-weight: regular;
    color: rgba(0, 0, 0, 0.5);
}
.footer-menu{
    max-width:324px;
    height:auto;
    display: flex;
    gap: 50px;
}
.footer-menu ul li{
   list-style: none;
   margin-bottom:32px;
}
.footer-menu ul li a{
   text-decoration: none;
   color: rgba(0, 0, 0, 0.5);
}
.footer-social{
    width:216px;
    height:36px;
}
.footer-social ul{
    margin:0px;
    display:flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.footer-social ul li{
    list-style: none;
    align-items: center;
}

@media screen and (max-width: 576px) {
  .footer-Container {
    flex-direction: column;
    height: auto;
    gap: 10px;
  }
  .footer-logo-text{
    padding-left: 35px;
    margin-bottom: 20px;
  }
  .footer-menu {
    flex-direction: column;
    margin:0;
    gap: 0px;
  }
  .ul1{
    margin-bottom:0;
  }
.ul1 li{
    margin-top:35px;
    margin-bottom:0;
  }
  .ul2{
    margin-top:0;
  }
.ul2 li{
    margin-top:0;
    margin-bottom: 35px;
}
.ul2 li a,
.ul1 li a{
    font-family: "inter";
    font-size: 1.5rem;
}
 .footer-menu ul li {
   text-align: left;
  }
.footer-social{
    margin-bottom: 50px;
}
}
/* Footer Section End*/
